<nav>

<select ng-model ="progress">
	<option value="">Filter by:</option>
	<option value="Todo">Todo</option>
	<option value="Doing">Doing</option>
	<option value="Done">Done</option>
</select>

<select ng-model ="order">
	<option value="">Sort by:</option>
	<option value="priority">Priority</option>
	<option value="dueDate">Due date</option>
</select>

<button ng-click="$ctrl.clearList()" confirm="Are you sure you want to clear the todo list?">Clear list</button>
<br>
</nav>

<b>Todo:</b> 

<todo-view 
ng-repeat="item in $ctrl.$storage.records | filter: {progress: !!progress ? progress : undefined} | orderBy: !!order ? order : 'created'"
item="item" 
on-delete="$ctrl.deleteItem(item)" 
on-update="$ctrl.updateItem(item, prop, value)" >
</todo-view>
